/* ============================ GERAL ============================ */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;
}

html {
  scroll-behavior: smooth;
}

html,
body {
  width: 100%;
  height: 100%;
}

body {
  font-family: 'Montserrat';
  font-size: 1.6rem;
  text-align: center;

  overflow: overlay;
  background-color: #f9f9f9;
}

/* classe que põe limite no conteúdo e centraliza */
.wrapper {
  width: min(37.4rem, 100%);
  margin-inline: auto;
  padding-inline: 2rem;
}

.content {
  margin: 0 auto;
}

/* ============================ DISCOUNT ============================ */

#discount {
  width: 100%;
  height: 6rem;
  top: 0;

  background: #181818;
}

#discount h4 {
  font-weight: 500;
  font-size: 16px;
  line-height: 196.19%;
  color: #f9f9f9;

  margin-inline: auto;
  padding-block: 1.5rem;
}

/* ============================ NAV ============================ */

nav {
  width: 100%;
  height: 6rem;
  top: 0;

  background: #f9f9f9;
}

nav h1 {
  font-weight: 600;
  font-size: 2.4rem;
  line-height: 196.19%;

  margin-inline: auto;
  padding-block: 0.5rem;

  color: #181818;
}

/* ============================ HEADER ============================ */

#header {
  background: linear-gradient(rgba(0, 0, 0, 0.43), rgba(0, 0, 0, 0.6)),
    url('./assets/Air-Jordan-1-Retro-High-OG-Wmns-TWIST-Feminino\ 1.png');

  height: 50vh;
  background-repeat: no-repeat;
  background-size: cover;

  display: block;
  position: relative;
}

#header .content {
  display: flex;
  flex-direction: column;
  padding-block: 12.2rem;
  text-align: left;
  gap: 1.2rem;
}

#header .content h2 {
  font-weight: 700;
  font-size: 32px;
  line-height: 39px;

  color: #f9f9f9;
}

#header .content p {
  font-weight: 600;
  line-height: 180%;

  color: #f9f9f9;
}

/* ============================ HIGHLIGHTS ============================ */
#highlights {
  padding-top: 5rem;
}

#highlights h2 {
  font-weight: 600;
  font-size: 2.8rem;
  line-height: 196.19%;

  color: #181818;
}

#highlights p {
  font-weight: 500;
  line-height: 180%;
  padding-bottom: 5.9rem;

  color: #474747;
}

/* ============================ PRODUCTS ============================ */

#products .cards {
  display: flex;
  flex-direction: column;
}

#products .card {
  height: 30.2rem;
  margin-bottom: 3rem;

  background: #ebe9ea;
}

#products .card img {
  margin-block: 7.6rem;
  margin-inline: auto;
}

/* ============================ FOOTER ============================ */

footer {
  width: 100%;

  background: #181818;
}

footer h4 {
  margin-top: auto;
  font-weight: 500;
  line-height: 196.19%;
  margin-inline: auto;
  padding-block: 1.5rem;

  color: #f9f9f9;
}

/* ============================ RESPONSIVE ============================ */

@media (min-width: 1024px) {
  /* ============================ GERAL ============================ */

  body {
    overflow: auto;
  }

  .wrapper {
    width: min(130rem, 100%);
    margin-inline: auto;
  }

  #highlights {
    padding-top: 5.8rem;
  }

  #products {
    padding-bottom: 10rem;
  }

  #products .cards {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 1.3rem;
  }

  #products .card {
    width: 30rem;
    flex-grow: 1;
  }
}
